@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: rgba(255, 255, 255, 0.986);
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(18, 4, 26, 0.9);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: rgba(44, 10, 66, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url(../img/portrait_250px.jpg);
  background-position-x: 10px;
  background-size: cover;
  border-radius: 50%;
  border: 0.3rem solid #00ddff;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #00ddff;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.986);
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

.menu .nav-link:hover {
  color: #00ddff;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    width: 150px;
    height: 150px;
    background: url(../img/portrait_150px.jpg);
    background-position-x: 5px;
    border: 0.15rem solid #00ddff;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh !important;
  }
}

*, *::before, *:before, *::after, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #2c0a42;
  color: rgba(255, 255, 255, 0.986);
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

body#bg-image {
  background: url(../img/01_1920X1280.jpg);
  background-attachment: fixed;
  background-size: cover;
}

[class^=uil-]:before, [class*=" uil-"]:before {
  font-size: 2rem;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: .2rem 1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 221, 255, 0.3)), color-stop(30%, rgba(0, 221, 255, 0.15)), color-stop(50%, rgba(0, 221, 255, 0)));
  background: linear-gradient(to right, rgba(0, 221, 255, 0.3) 0%, rgba(0, 221, 255, 0.15) 30%, rgba(0, 221, 255, 0) 50%);
}

a {
  color: rgba(255, 255, 255, 0.986);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #00ddff;
}

main {
  padding: 4rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: .4rem;
}

main .icons a:hover {
  color: #00ddff;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 20vh;
}
/*# sourceMappingURL=main.css.map */